@page
@model ASPNET360SIte.Pages.FloorPlans.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FloorPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FloorPlan.FloorPlanLabel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FloorPlan.FloorPlanLabel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FloorPlan.MainImagePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FloorPlan.MainImagePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.FloorPlan.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
