@page
@model ASPNET360SIte.Pages.FloorPlans.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FloorPlan[0].FloorPlanLabel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloorPlan[0].MainImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FloorPlan) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FloorPlanLabel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainImagePath)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
